
@media print {
  #pvs-buttons-wrapper {
    display: none;
  }
}
@media screen {
  #pvs-buttons-wrapper {
    top: 0px;
    width: 100%;
    position: fixed;
    position: absolute; /*for IE*/
  }
  #pvs-buttons {    
    padding: 3px;
    width: 78px;
    
    margin-left: auto;
    margin-right: 2px;

    display: block;
    background-color: silver;
    text-align: center;
    border: 1px solid gray;
  }
  #pvs-buttons button {
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
  }
  #pvs-print {
    background: no-repeat transparent;
    background-image: url("print.png");
    margin-right: 1px;
  }
  #pvs-close {
    background: no-repeat transparent;
    background-image: url("close.png");
    margin-left: 1px;
  }
}
