
body {
  margin: 0px;
  padding: 0px;
}


#navlist, 
#logo img,
div.sidebar-left,
#sidebar-right,
#sidebar-left,
#sidebar-first,
#sidebar-last,
#preface,
#footer,
#legal-notice
{
  display: none;
  visibility: hidden;
}

.header,
#header,
#header-wrapper,
.block, 
.breadcrumb, 
ul.primary li
{
  display: none;
  visibility: hidden;
}
